{% extends "pages/layout.html" %}
{% load static %}

{% block content %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="btc">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">BTCUSD</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            {% comment %} <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/cabin.png' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/cake.png' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/circus.png' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/game.png' %}" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/safe.png' %}" alt="..." />
                </div>
            </div> {% endcomment %}
            <!-- Portfolio Item 6-->
            {% comment %} <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-between h-100 w-100 p-5">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-solid fa-envelope fa-3x"></i></div>
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-brands fa-linkedin fa-3x"></i></div>
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-brands fa-facebook-square fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/submarine.png' %}" alt="..." />
                </div>
                <h5 class="text-center">
                    Thạc sĩ Lê Huy Hoàng
                </h5>
                <p class="text-center lead">AI Researcher</p>
            </div>  {% endcomment %}
            <div class="tradingview-widget-container col-md-6 col-lg-12" style="height: 600px">
                <div id="tradingview_6e252" style="height: 100%;"></div>
                <div class="tradingview-widget-copyright">
                    <a href="https://vn.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank">
                        <span class="blue-text">BTCUSDT Biểu đồ</span> 
                    </a> bởi TradingView
                </div>
        </div>
    </div>
</section>
<!-- Project Section-->
<section class="page-section bg-primary text-white mb-0" id="projects">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Projects</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ms-auto me-auto">
                <ul>
                    <li>
                        <p class="lead">
                            Tran Dinh Cuong,<b> Nguyen Linh Giang</b>. <b><i>"Intrusion detection under covariate shift using modified support vector machine and modified backpropagation"</i></b>. SoICT2012. Pp 266-271
                        </p>
                    </li>
                    <li>
                        <p class="lead">
                            Tran Dinh Cuong,<b> Nguyen Linh Giang</b>. <b><i>"Intrusion detection under covariate shift using modified support vector machine and modified backpropagation"</i></b>. SoICT2012. Pp 266-271
                        </p>
                    </li>
                    <li>
                        <p class="lead">
                            Tran Dinh Cuong,<b> Nguyen Linh Giang</b>. <b><i>"Intrusion detection under covariate shift using modified support vector machine and modified backpropagation"</i></b>. SoICT2012. Pp 266-271
                        </p>
                    </li>
                </ul>  
            </div>
        </div>
        <!-- About Section Button-->
        {% comment %} <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Free Download!
            </a>
        </div> {% endcomment %}
        
    </div>
</section>
<!-- Pub Section-->
<section class="page-section portfolio" id="publications">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Publications</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <ul>
                <li>
                    <p class="lead">
                        Tran Dinh Cuong,<b> Nguyen Linh Giang</b>. <a href="{% static 'pdf/test.pdf' %}" target="_blank"><b><i>"Intrusion detection under covariate shift using modified support vector machine and modified backpropagation"</i></b></a>. SoICT2012. Pp 266-271
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Tran Dinh Cuong,<b> Nguyen Linh Giang</b>. <a href="{% static 'pdf/test.pdf' %}" target="_blank"><b><i>"Intrusion detection under covariate shift using modified support vector machine and modified backpropagation"</i></b></a>. SoICT2012. Pp 266-271
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Tran Dinh Cuong,<b> Nguyen Linh Giang</b>. <a href="{% static 'pdf/test.pdf' %}" target="_blank"><b><i>"Intrusion detection under covariate shift using modified support vector machine and modified backpropagation"</i></b></a>. SoICT2012. Pp 266-271
                    </p>
                </li>
            </ul> 
        </div>
    </div>
</section>
{% endblock content %}

{% block script%}
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
new TradingView.widget(
{
    "autosize": true,
    "symbol": "BINANCE:BTCUSDT",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "vi_VN",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_6e252",
    //"watchlist": [
    //    "BINANCE:ETHUSDT",
    //    "BINANCE:BNBUSDT",
    //    "BINANCE:SOLUSDT",
    //    "BINANCE:AVAXUSDT",
    //],
});
</script>
{%endblock%}