{% extends "pages/layout.html" %}
{% load static %}

{% block content %}
<!-- Pub Section-->
<section class="page-section portfolio">
    <div class="container">
        {% comment %} <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Learning</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div> {% endcomment %}

        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                {% if lessons|length > 0 %}
                <div class="card mb-4">
                    <a href="{% url 'lesson' id=lessons.0.id %}"><img class="card-img-top" src="{{lessons.0.thumbnail.url}}" alt="{{lessons.0.title}}"></a>
                    <div class="card-body">
                        <div class="small text-muted">{{lessons.0.created_time|date:"M d, Y"}}</div>
                        <h2 class="card-title">{{lessons.0.title}}</h2>
                        <p class="card-text">{{lessons.0.summary}}</p>
                        <a class="btn btn-primary" href="{% url 'lesson' id=lessons.0.id %}">Read more →</a>
                    </div>
                </div>
                {% endif %}
                
                <!-- Nested row for non-featured blog posts-->
                {% if lessons|length > 1 %}
                <div class="row">
                    <!-- Blog post-->
                    <div class="col-lg-6">
                        {% for lesson in lessons %}
                        {% if not forloop.first %}
                        {% if not forloop.counter0|divisibleby:2 %}
                            <div class="card mb-4">
                                <a href="{% url 'lesson' id=lesson.id %}"><img class="card-img-top" src="{{lesson.thumbnail.url}}" alt="{{lesson.title}}"></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{lesson.created_time|date:"M d, Y"}}</div>
                                    <h2 class="card-title h4">{{lesson.title}}</h2>
                                    <p class="card-text">{{lesson.summary}}</p>
                                    <a class="btn btn-primary" href="{% url 'lesson' id=lesson.id %}">Read more →</a>
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-6">
                        {% for lesson in lessons %}
                        {% if not forloop.first %}
                        {% if forloop.counter0|divisibleby:2  %}
                        <div class="card mb-4">
                            <a href="{% url 'lesson' id=lesson.id %}"><img class="card-img-top" src="{{lesson.thumbnail.url}}" alt="{{lesson.title}}"></a>
                            <div class="card-body">
                                <div class="small text-muted">{{lesson.created_time|date:"M d, Y"}}</div>
                                <h2 class="card-title h4">{{lesson.title}}</h2>
                                <p class="card-text">{{lesson.summary}}</p>
                                <a class="btn btn-primary" href="{% url 'lesson' id=lesson.id %}">Read more →</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                <!--Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0">
                    <ul class="pagination justify-content-center my-4">
                    {% if lessons.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'learning' %}{% url 'learning' %}?page={{ lessons.previous_page_number }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                    </li>
                    {% endif %}

                    {% if lessons.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link" href="{% url 'learning' %}?page={{ lessons.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in lessons.paginator.page_range %}
                        {% if lessons.number == i %}
                            <li class="page-item active" aria-current="page">
                            <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                        </span>
                        </li>
                        {% elif i > lessons.number|add:'-5' and i < lessons.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="{% url 'learning' %}?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if lessons.paginator.num_pages > lessons.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="{% url 'learning' %}?page={{ lessons.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}

                    {% if lessons.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="{% url 'learning' %}?page={{ lessons.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                    </li>
                    {% endif %}
                    </ul>
                </nav>
                <!--end of Pagination-->

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search">
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}