{% extends "pages/layout.html" %}
{% load static %}

{% block content %}
<!-- Pub Section-->
<section class="page-section portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lessons</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0&appId=384806373278950&autoLogAppEvents=1" nonce="J1Ho5yBu"></script>
            <div class="col-12 fb-comments" data-href="https://dasvision.vn" data-lazy=true data-width="100%" data-numposts="5"></div>
        </div>

    </div>
</section>
{% endblock content %}